{% extends 'base.html' %}
{% load static %}


{% block title %}
    {{ seminar.judul_seminar }}
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}">
{% endblock %}


{% block content %}
    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                {% if not seminar.is_past %}
                 <span class="kenta-blurlable">🔴 AIRING IN: {{ seminar.air_time }} </span>
                {% else %}
                <span class="kenta-blurlable">🔴 AIRED IN: {{ seminar.d_day }} </span>
                {% endif %}
                <h2 style="font-weight: 700">{{ seminar.judul_seminar }}</h2>
                <h3>Musabaqah Tilawatil Quran <br> Universitas Indonesia</h3>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{{ seminar.seminar_image.url }}')">
        </div>
    </div>


    <div class="info_container" style="padding: 50px">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h2>About</h2>
        <p style="width: 60%" class="about">{{ seminar.about }}</p>
    </li>
    <li class="list-group-item">
        <h2>Guest Stars</h2>
        <ul class="guest_stars">
            {% for guest_star in guest_stars %}
                <li>{{ guest_star.nama }}</li>
            {% endfor %}
        </ul>
    </li>

    <li class="list-group-item">
        <h2>We’ll be talking about...</h2>
        <ul class="subjects">
            {% for subject in all_subjects %}
                <li>{{ subject }}</li>
            {% endfor %}
        </ul>
    </li>

    <li class="list-group-item" style="display:flex; justify-content: center;align-items: center; flex-direction: column">
        <p style="margin: 5px">Interested?</p>
        {% if not seminar.is_past %}
        <a href="{% url 'seminar:get_seminar_form' %}"><button class="btn btn-info">ENROLL NOW!</button></a>
        {% else %}
        <button class="btn btn-info" disabled>ENROLL NOW!</button>
        {% endif %}

    </li>

    </ul>

    </div>

{% endblock %}