{% extends 'base.html' %}
{% load static %}

{% block title %}
   Form Pendaftaran Workshop
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}">
{% endblock %}

{% block content %}

    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                <span class="kenta-blurlable max_content_behavior">Pendaftaran Workshop</span>
                <h2 style="font-weight: 700; font-size: 40px">WORKSHOP MTQ UI</h2>
                <h3 style="margin-bottom: 0px">Musabaqah Tilawatil Quran</h3> <h3 style="font-weight: bold; font-style: italic">Universitas Indonesia</h3>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/quran.svg' %}')">
        </div>
    </div>


    <div class="container" id="ff-compose" style="margin-top: 13vh; margin-bottom: 13vh"></div>
    <script async defer src="https://formfacade.com/include/114999475763209462002/form/1FAIpQLSdDlCsJqX0IX_z5UeSbA8HnyzRqYstRHGgAKMeIWPUuzq9xWg/bootstrap.js?div=ff-compose"></script>
{% endblock %}
