{% extends 'base.html' %}
{% load static %}


{% block title %}
    Workshop
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}">
{% endblock %}

{% block content %}
{#    <div class="kenta-head">#}
{#        <div class="kenta-head-content">#}
{#            <div>#}
{#                <span class="kenta-blurlable">ABOUT US</span>#}
{#                <h1>MTQ UI</h1>#}
{#                <h3>Musabaqah Tilawatil Quran <br> Universitas Indonesia</h3>#}
{#            </div>#}
{#        </div>#}
{#        <div class="kenta-head-img"#}
{#             style="background-image: url('{% static 'img/landing_seminar.svg' %}')">#}
{#        </div>#}
{#    </div>#}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                {% if not first_seminar.is_past %}
                 <span class="kenta-blurlable">🔴 AIRING IN: {{ first_air_time }} </span>
                {% else %}
                <span class="kenta-blurlable">🔴 AIRED IN: {{ first_seminar.d_day }} </span>
                {% endif %}
                <h2 style="font-weight: 700">{{ first_seminar.judul_seminar }}</h2>
                <h5>{{ first_seminar.about }}</h5>
            <a href="{% url 'seminar:get_seminar' first_seminar.id %}"><button class="btn btn-light" style="width: 150px">Know More!</button></a>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/workshop.svg' %}')">
        </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                {% if not second_seminar.is_past %}
                 <span class="kenta-blurlable">🔴 AIRING IN: {{ second_air_time }} </span>
                {% else %}
                <span class="kenta-blurlable">🔴 AIRED IN: {{ second_seminar.d_day }} </span>
                {% endif %}
                <h2 style="font-weight: 700">{{ second_seminar.judul_seminar }}</h2>
                <h5>{{ second_seminar.about }}</h5>
                <a href="{% url 'seminar:get_seminar' second_seminar.id %}"><button class="btn btn-light" style="width: 150px">Know More!</button></a>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/quran.svg' %}')">
        </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                {% if not third_seminar.is_past %}
                 <span class="kenta-blurlable">🔴 AIRING IN: {{ third_air_time }} </span>
                {% else %}
                <span class="kenta-blurlable">🔴 AIRED IN: {{ third_seminar.d_day }} </span>
                {% endif %}
                <h2 style="font-weight: 700">{{ third_seminar.judul_seminar }}</h2>
                <h5>{{ third_seminar.about }}</h5>
                <a href="{% url 'seminar:get_seminar' third_seminar.id %}"><button class="btn btn-light" style="width: 150px">Know More!</button></a>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/landing_seminar.svg' %}')">
        </div>
        </div>
    </div>
  </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 4.5%;">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 4.5%;">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="upcoming_container" style="padding: 40px;">
    <h2 style="font-weight: bold"> Upcoming Seminar </h2>

    <div class="card_container">
        {% for seminar in seminar_list %}
        {% if not seminar.is_past %}
            <div class="seminar_card">
                <div class="seminar_img_cont">
                    <img src="{{ seminar.seminar_image.url }}" alt="">

                </div>

                <div class="judul_seminar_cont">
                    <p>{{ seminar.judul_seminar }}</p>
                    <div class="know_more">
                        <a href="{% url 'seminar:get_seminar' seminar.id %}"><p style="font-size: 12px; font-weight: 500">Know More!</p></a></div>
                </div>

            </div>
        {% endif%}
        {% endfor %}
    </div>


    </div>

    <div class="past_seminar" style="padding: 40px; background-color: #e8f0ff">
    <h2 style="font-weight: bold"> Past Seminar </h2>
      <div class="card_container">
         {% for seminar in seminar_list %}

        {% if seminar.is_past %}
            <div class="seminar_card">
                <div class="seminar_img_cont">
                    <img src="{{ seminar.seminar_image.url }}" alt="">

                </div>

                <div class="judul_seminar_cont">
                    <p>{{ seminar.judul_seminar }}</p>
                    <div class="know_more">
                        <a href="{% url 'seminar:get_seminar' seminar.id %}"><p style="font-size: 12px; font-weight: 500">Know More!</p></a>
                    </div>
                </div>

            </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>



{% endblock %}