{% extends 'base.html' %}
{% load static %}


{% block title %}
    Workshop
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}">
{% endblock %}

{% block content %}
    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                <span class="kenta-blurlable">ABOUT US</span>
                <h1>MTQ UI</h1>
                <h3>Musabaqah Tilawatil Quran <br> Universitas Indonesia</h3>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/landing_seminar.svg' %}')">
        </div>
    </div>


    <div class="upcoming_container" style="padding: 40px;">
    <h2 style="font-weight: bold"> Upcoming Seminar </h2>

    <div class="card_container">
        {% for seminar in seminar_list %}
        {% if not seminar.is_past %}
            <div class="seminar_card">
                <div class="seminar_img_cont"">
                    <img src="{{ seminar.seminar_image.url }}" alt="">

                </div>

                <div class="judul_seminar_cont">
                    <p>{{ seminar.judul_seminar }}</p>
                    <div class="know_more">
                        <a href="{% url 'seminar:get_seminar' seminar.id %}"><p style="font-size: 12px; font-weight: 500">Know More!</p></a></div>
                </div>

            </div>
        {% endif%}
        {% endfor %}
    </div>


    </div>

    <div class="past_seminar" style="padding: 40px; background-color: #e8f0ff">
    <h2 style="font-weight: bold"> Past Seminar </h2>
      <div class="card_container">
         {% for seminar in seminar_list %}

        {% if seminar.is_past %}
            <div class="seminar_card">
                <div class="seminar_img_cont">
                    <img src="{{ seminar.seminar_image.url }}" alt="">

                </div>

                <div class="judul_seminar_cont">
                    <p>{{ seminar.judul_seminar }}</p>
                    <div class="know_more">
                        <a href="{% url 'seminar:get_seminar' seminar.id %}"><p style="font-size: 12px; font-weight: 500">Know More!</p></a>
                    </div>
                </div>

            </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>



{% endblock %}