h2, h4, h5 {
    font-weight: 650;
}

.lomba-list {
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex: 0 0 25%;
}

.card-body {
    padding: 1em;
}

.card-img-top {
    max-width: 20em;
}

hr {
    border-top: 1px solid #3D54A6;
}
