{% extends 'base.html' %}
{% load static %}

{% block title %}
View - {{ competition.judul }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h2>{{ competition.judul }}</h2>

    <div class="dashboard-container enrollment-form">
        {{ enrollments.management_form }}
    
        {% for enrollment in enrollments %}
            <div class="link-formset">
                {{ enrollment.nama }} <br>
                {{ enrollment.fakultas }}
                {{ enrollment.jurusan }}
                {{ enrollment.angkatan }} <br>
                {{ enrollment.no_hp }}
                {{ enrollment.line_id }} <br>
                Ketua: {{ enrollment.is_ketua }}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
