{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/lomba.css' %}">
{% endblock %}

{% block content %}
    <div class="lomba-detail" style="padding: 3em">
        <div style="padding: 3.5em">
            <h4>About</h4>
            <p>{{ lomba.about }}</p>

            <h4>Timeline</h4>
            <p>{{ lomba.start_date }} - {{ lomba.finish_date }}</p>

            <hr>

            <h4>General Rules</h4>
            <ul>
                {% for item in rules %}
                    <li>{{ item.rule }}</li>
                {% endfor %}
            </ul>

            <h4>Guidebook</h4>
            <div class="d-flex flex-row">
                <img src="{% static 'svg/guidebook.svg' %}" width="15em" alt="guidebook">
                <a class="ml-2" href={{ lomba.guidebook_link }}>Get the guidebook here!</a>
            </div>
        </div>
    </div>

    <div class="training" style="padding: 3em; background-color: #e8f0ff">
        <h2>Training</h2>
        <div style="padding: 3.5em">
            <div>
                <h4>Mentors</h4>
                <ul>
                    {% for mentor in mentors %}
                        <li>{{ mentor }}</li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div>
                <h4>You will learn..</h4>
                <ul>
                    {% for item in learnt %}
                        <li>{{ item.learnt }}</li>
                    {% endfor %}
                </ul>
            </div>
            <hr>
            <div>
                <h4>Timeline</h4>
                <ul>
                    {% for item in timeline %}
                        <li>{{ item.timeline }}</li>
                        <p>{{ item.deskripsi }}</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% if isLoggedIn == True %}
        <div class="text-center mt-4 mb-5">
            <h5>Interested?</h5>
            <a href="{% url 'dashboard:home' %}" class="btn btn-primary" style="width: 10em">
                ENROLL VIA
                <br>
                DASHBOARD
            </a>
        </div>
    {% endif %}
{% endblock %}