{% extends 'base.html' %}
{% load static %}

{% block title %}
    Gallery
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- Judul -->
    <h1>Gallery</h1>

    <!-- Section Grand Opening -->
    <div>
        <h3>Grand Opening</h3>
        <div class="container" id="gallery-go">
            <div class="row" id="gallery-go1">
                <div class="img_1_1 col square"></div>
                <div class="img_1_2 col square"></div>
                <div class="img_1_3 col square"></div>
                <div class="img_1_4 col square"></div>
            </div>
            <div class="row" id="gallery-go2">
                <div class="img_2_1 col square"></div>
                <div class="img_2_2 col square"></div>
                <div class="img_2_3 col square"></div>
                <div class="img_2_4 col square"></div>
            </div>
        </div>
    </div>

    <!-- Section Competition -->
    <div>
        <h3>Competition</h3>
        <div class="container" id="gallery-competition">
            <div class="row" id="gallery-c1">
                <div class="img_c_1_1 col square"></div>
                <div class="img_c_1_2 col square"></div>
                <div class="img_c_1_3 col square"></div>
                <div class="img_c_1_4 col square"></div>
            </div>
            <div class="row" id="gallery-c2">
                <div class="img_c_2_1 col square"></div>
                <div class="img_c_2_2 col square"></div>
                <div class="img_c_2_3 col square"></div>
                <div class="img_c_2_4 col square"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="imgmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <img class="img-responsive" id="show-img">
            </div>
        </div>
    </div>
{% endblock %}