{% extends 'base.html' %}
{% load static %}

{% block title %}
Add - {{ kelompok.nama }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/forms.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <div class="form-container">
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Nama</label>
                    {{ anggota_form.nama }}

                    {% if anggota_form.nama.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.nama.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Jurusan</label>
                    {{ anggota_form.jurusan }}

                    {% if anggota_form.jurusan.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.jurusan.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label>Angkatan</label>
                    {{ anggota_form.angkatan }}
                    
                    {% if anggota_form.angkatan.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.angkatan.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>No. HP</label>
                    {{ anggota_form.no_hp }}

                    {% if anggota_form.no_hp.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.no_hp.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label>Line ID</label>
                    {{ anggota_form.line_id }}

                    {% if anggota_form.line_id.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.line_id.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Foto KTM</label>
                    {{ anggota_form.foto_ktm }}

                    {% if anggota_form.foto_ktm.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.foto_ktm.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>

                <div class="form-group col-md-6">
                    <label>Screenshot SIAK</label>
                    {{ anggota_form.screenshot_siak }}

                    {% if anggota_form.screenshot_siak.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in anggota_form.screenshot_siak.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            {% if anggota_form.non_form_errors %}
            <p class="form-text text-danger">
                {% for error in anggota_form.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}

            <button type="submit" class="btn btn-success">Daftar</button>
        </form>
    </div>
</div>

<script src="{% static 'dashboard/js/invalid_field.js' %}"></script>
{% endblock content %}
