{% extends 'base.html' %}
{% load static %}

{% block title %}
Dashboard
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h1>Dashboard</h1>

    <div class="dashboard-container user-details">
        <img class="makara-image" src="{% get_static_prefix %}dashboard/img/makara/{{ metadata_fakultas.makara_image_code }}.png" alt="Makara Fakultas">
        <p class="username">{{ metadata_fakultas.singkatan_fakultas }}</p>
    </div>

    <!-- <div class="dashboard-container logout">
        <a href="{% url 'authentication:logout' %}">Logout</a>
    </div> -->

    <div class="dashboard-container competition-section">
        <h2>Available Competitions</h2>

        {% if competitions %}
            {% for competition in competitions %}
                <div class="competition-card">
                    <h3 class="competition-title">{{ competition.judul }}</h3>
                    
                    <table class="competition-detail">
                        <tr>
                            <td class="detail-key">Quota</td>
                            <td>{{ competition.kuota }}</td>
                        </tr>
                        
                        <tr>
                            <td class="detail-key">Enrolled</td>
                            <td>{{ competition.peserta.all.count }}</td>
                        </tr>
                    </table>
                    
                    {% if competition.is_deadline %}
                    <div class="competition-deadline past-deadline">
                    {% else %}
                    <div class="competition-deadline">
                    {% endif %}
                        <img src="{% static 'dashboard/svg/clock.svg' %}">
                        <p>{{ competition.get_deadline }}</p>
                    </div>

                    {% if competition.can_enroll %}
                    <a class="competition-buttons" href="{% url 'dashboard:enroll' id_kompetisi=competition.id %}">Enroll Now</a>
                    {% endif %}

                    {% if competition.can_edit_enrollments %}
                    <a class="competition-buttons" href="{% url 'dashboard:edit' id_kompetisi=competition.id %}">See or Edit Enrollments</a>
                    {% endif %}

                    {% if competition.can_see_enrollments %}
                    <a class="competition-buttons" href="{% url 'dashboard:view' id_kompetisi=competition.id %}">See Enrollments</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
                <div>no competition</div>
        {% endif %}
    </div>
</div>
{% endblock content %}
