{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit - {{ competition.judul }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h2>{{ competition.judul }}</h2>

    <div class="dashboard-container form-container">
        <form method="POST"> {% csrf_token  %}
            {{ enrollment_forms.management_form }}
        
            {% for enrollment_form in enrollment_forms %}
                <div class="form-single">
                    <div class="form-checkbox">
                        {{ enrollment_form.is_ketua }}
                    </div>

                    <div class="form-fields">
                        <table class="form-fields-table">
                            <tr>
                                <td colspan="2">{{ enrollment_form.nama }}</td>
                            </tr>

                            <tr>
                                <td>{{ enrollment_form.jurusan }}</td>
                                <td>{{ enrollment_form.angkatan }}</td>
                            </tr>

                            <tr>
                                <td>{{ enrollment_form.no_hp }}</td>
                                <td>{{ enrollment_form.line_id }}</td>
                            </tr>
                        </table>
                    </div>

                    <!-- delete row button -->
                </div>
            {% endfor %}
                
            <!-- add row button -->
            <div class="form-submit">
                <button type="submit">Daftar</button>
            </div>
        </form>
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'dashboard/js/jquery.formset.js' %}"></script>
<script>
    $('.form-single').formset({
        addText: 'add peserta',
        deleteText: 'hapus'
    });
</script>
<script src="{% static 'dashboard/js/checkbox.js' %}"></script>
{% endblock content %}
