{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit - {{ competition.judul }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'dashboard/css/dashboard.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h2>{{ competition.judul }}</h2>

    <div class="dashboard-container form-container">
        <form method="POST" enctype="multipart/form-data"> {% csrf_token  %}
            {{ enrollment_forms.management_form }}
        
            {% for enrollment_form in enrollment_forms %}
                <div class="form-single">
                    <div class="form-checkbox">
                        {{ enrollment_form.is_ketua }}
                    </div>

                    <div class="form-fields">
                        <table class="form-fields-table">
                            <tr>
                                <td colspan="2">
                                    {{ enrollment_form.nama }}
                                    {% if enrollment_form.nama.errors %}
                                        {% for error in enrollment_form.nama.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ enrollment_form.jurusan }}
                                    {% if enrollment_form.jurusan.errors %}
                                        {% for error in enrollment_form.jurusan.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ enrollment_form.angkatan }}
                                    {% if enrollment_form.angkatan.errors %}
                                        {% for error in enrollment_form.angkatan.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    {{ enrollment_form.no_hp }}
                                    {% if enrollment_form.no_hp.errors %}
                                        {% for error in enrollment_form.no_hp.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ enrollment_form.line_id }}
                                    {% if enrollment_form.line_id.errors %}
                                        {% for error in enrollment_form.line_id.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Foto KTM
                                    {{ enrollment_form.foto_ktm }}
                                    {% if enrollment_form.foto_ktm.errors %}
                                        {% for error in enrollment_form.foto_ktm.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>

                                <td>
                                    Screenshot SIAK
                                    {{ enrollment_form.screenshot_siak }}
                                    {% if enrollment_form.screenshot_siak.errors %}
                                        {% for error in enrollment_form.screenshot_siak.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>

                                <td>
                                    CV
                                    {{ enrollment_form.file_cv }}
                                    {% if enrollment_form.file_cv.errors %}
                                        {% for error in enrollment_form.file_cv.errors %}
                                            {{ error|escape }}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- delete row button -->
                </div>
            {% endfor %}

            {% if enrollment_forms.non_form_errors %}
                {% for error in enrollment_forms.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            {% endif %}
                
            <!-- add row button -->
            <div class="form-submit">
                <button type="submit">Daftar</button>
            </div>
        </form>
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static 'dashboard/js/jquery.formset.js' %}"></script>
<script>
    $('.form-single').formset({
        addText: 'add peserta',
        deleteText: 'hapus'
    });
</script>
<script src="{% static 'dashboard/js/checkbox.js' %}"></script>
{% endblock content %}
