{% extends 'base.html' %}
{% load static %}

{% block title %}
Enroll - {{ competition.judul }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/forms.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h1>Enrollment</h1>
    <h2>{{ competition.judul }}</h2>

    <div class="form-container">
        <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Nama Kelompok</label>
                    {{ kelompok_form.nama_kelompok }}

                    {% if kelompok_form.nama_kelompok.errors %}
                    <small class="form-text text-danger form-errors">
                        {% for error in kelompok_form.nama_kelompok.errors %}
                            {{ error|escape }}
                        {% endfor %}
                    </small>
                    {% endif %}
                </div>
            </div>

            {% if kelompok_form.non_form_errors %}
            <small class="form-text text-danger">
                {% for error in kelompok_form.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            </small>
            {% endif %}

            <hr>

            <div class="anggota-daq-form">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Nama</label>
                        {{ anggota_daq_form.nama }}
    
                        {% if anggota_daq_form.nama.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.nama.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Jurusan</label>
                        {{ anggota_daq_form.jurusan }}
    
                        {% if anggota_daq_form.jurusan.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.jurusan.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Angkatan</label>
                        {{ anggota_daq_form.angkatan }}
    
                        {% if anggota_daq_form.angkatan.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.angkatan.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>No. HP</label>
                        {{ anggota_daq_form.no_hp }}
    
                        {% if anggota_daq_form.no_hp.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.no_hp.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-6">
                        <label>Line ID</label>
                        {{ anggota_daq_form.line_id }}
    
                        {% if anggota_daq_form.line_id.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.line_id.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Foto KTM</label>
                        <small class="form-text">Pastikan nama file merupakan KTM_[NAMA_LOMBA]_[NPM_PESERTA] (Misal: KTM_MTQ_1234567890)</small>
                        {{ anggota_daq_form.foto_ktm }}
    
                        {% if anggota_daq_form.foto_ktm.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.foto_ktm.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                        <label>Screenshot SIAK</label>
                        <small class="form-text">Pastikan nama file merupakan SIAK_[NAMA_LOMBA]_[NPM_PESERTA] (Misal: SIAK_MTL_1234567890)</small>
                        {{ anggota_daq_form.screenshot_siak }}
    
                        {% if anggota_daq_form.screenshot_siak.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.screenshot_siak.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>

                    <div class="form-group col-md-4">
                        <label>Berkas CV</label>
                        <small class="form-text">Pastikan nama file merupakan CV_[NAMA_LOMBA]_[NPM_PESERTA] (Misal: CV_DAQ_1234567890)</small>
                        {{ anggota_daq_form.file_cv }}
    
                        {% if anggota_daq_form.file_cv.errors %}
                        <small class="form-text text-danger form-errors">
                            {% for error in anggota_daq_form.file_cv.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </small>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if anggota_daq_form.non_form_errors %}
            <p class="form-text text-danger">
                {% for error in anggota_daq_form.non_form_errors %}
                    {{ error|escape }}
                {% endfor %}
            </p>
            {% endif %}

            <br>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-success font-weight-bold pt-2 pb-2 pl-4 pr-4">Enroll Now</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'dashboard/js/invalid_field.js' %}"></script>
<script>
    $(document).ready( () => {
        $("input:text").css("background-color", "#E8F0FF");
        $("input:text").css("border-color", "#51B1F6");

        $("button:submit").css("background-color", "#51B1F6");
        $("button:submit").css("border", "none");
    });
</script>
{% endblock content %}
