{% extends 'base.html' %}
{% load static %}

{% block title %}
Enroll - {{ competition.judul }}
{% endblock title %}

{% block content %}
<form action="" method="POST">
    {% csrf_token  %}

    {{ enrollment_forms.management_form }}

    {% for enrollment_form in enrollment_forms %}
        <div class="link-formset">
            {{ enrollment_form.nama }}
            {{ enrollment_form.npm }}
        </div>
    {% endfor %}

    <br><button type="submit">Daftar</button>
</form>



<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% get_static_prefix %}js/jquery.formset.js"></script>
<script>
    $('.link-formset').formset({
        addText: 'add peserta',
        deleteText: 'hapus'
    });
</script>
{% endblock content %}
