{% extends 'base.html' %}
{% load static %}

{% block title %}
View - {{ kelompok.nama }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/enrollment.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h1>Enrollments</h1>
    <h2>{{ kelompok.nama }}</h2>

    {% for anggota in kelompok.anggota.all %}
    <div class="enrollment-card">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nama</label>
                <input class="form-control" type="text" placeholder="{{ anggota.nama }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Fakultas</label>
                <input class="form-control" type="text" placeholder="{{ anggota.fakultas }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Jurusan</label>
                <input class="form-control" type="text" placeholder="{{ anggota.jurusan }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Angkatan</label>
                <input class="form-control" type="text" placeholder="{{ anggota.angkatan }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>No. HP</label>
                <input class="form-control" type="text" placeholder="{{ anggota.no_hp }}" readonly>
            </div>

            <div class="form-group col-md-6">
                <label>Line ID</label>
                <input class="form-control" type="text" placeholder="{{ anggota.line_id }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Foto KTM</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/image.svg' %}">
                    <a href="{{ anggota.foto_ktm.url }}" target="_blank">{{ anggota.foto_ktm }}</a>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Screenshot SIAK</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/document.svg' %}">
                    <a href="{{ anggota.screenshot_siak.url }}" target="_blank">{{ anggota.screenshot_siak }}</a>
                </div>
            </div>
        </div>

        <div>
            <a class="enrollment-button" href="{% url 'dashboard:edit_anggota' id_anggota=anggota.id %}">Edit Member Details</a>
        </div>
        
        <div>
            <a class="enrollment-button" href="#">Remove Member</a>
        </div>
    </div>
    {% endfor %}

    {% if kelompok.can_add_member %}
    <div class="enrollment-card">
        <div>
            <a class="enrollment-button" href="{% url 'dashboard:add_anggota' id_kelompok=kelompok.id %}">Add Member</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
