{% extends 'base.html' %}
{% load static %}

{% block title %}
View - {{ kelompok.nama }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/enrollment.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h1>Enrollments</h1>
    <h2>{{ kelompok.nama }}</h2>

    {% for anggota in kelompok.anggota.all %}
    <div class="enrollment-card">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nama</label>
                <input class="form-control" type="text" placeholder="{{ anggota.nama }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Fakultas</label>
                <input class="form-control" type="text" placeholder="{{ anggota.fakultas }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Jurusan</label>
                <input class="form-control" type="text" placeholder="{{ anggota.jurusan }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Angkatan</label>
                <input class="form-control" type="text" placeholder="{{ anggota.angkatan }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>No. HP</label>
                <input class="form-control" type="text" placeholder="{{ anggota.no_hp }}" readonly>
            </div>

            <div class="form-group col-md-6">
                <label>Line ID</label>
                <input class="form-control" type="text" placeholder="{{ anggota.line_id }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Foto KTM</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/image.svg' %}">
                    <a href="{{ anggota.foto_ktm.url }}" target="_blank">{{ anggota.foto_ktm }}</a>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>Screenshot SIAK</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/document.svg' %}">
                    <a href="{{ anggota.screenshot_siak.url }}" target="_blank">{{ anggota.screenshot_siak }}</a>
                </div>
            </div>

            <div class="form-group col-md-4">
                <label>Berkas CV</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/document.svg' %}">
                    <a href="{{ anggota.file_cv.url }}" target="_blank">{{ anggota.file_cv }}</a>
                </div>
            </div>
        </div>

        {% if anggota.can_be_edited %}
        <div>
            <a class="enrollment-button" href="{% url 'dashboard:edit_anggota' id_anggota=anggota.id %}">Edit Member Details</a>
        </div>
        {% endif %}
        
        {% if anggota.can_be_deleted %}
        <a class="enrollment-button" data-toggle="modal" data-target="#deletionConfirm-{{ anggota.id }}">Remove Member</a>
        
        <div class="modal fade" id="deletionConfirm-{{ anggota.id }}" tabindex="-1" role="dialog" aria-labelledby="deletionConfirmLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletionConfirmLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        You are about to remove <b>{{ anggota.nama }}</b> from this team.

                        {% if anggota.is_ketua %}
                        <br>
                        Since this member is the team captain, a new team captain will be auto-assigned from the remaining members.
                        {% endif %}
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'dashboard:delete_anggota' id_anggota=anggota.id %}" method="POST"> {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Yes, Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if kelompok.can_add_member %}
    <div class="enrollment-card">
        <div>
            <a class="enrollment-button" href="{% url 'dashboard:add_anggota' id_kelompok=kelompok.id %}">Add Member</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
