{% extends 'base.html' %}
{% load static %}

{% block title %}
View - {{ competition.judul }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'dashboard/css/enrollment.css' %}">
{% endblock head %}

{% block content %}
<div class="kenta-content">
    <h1>Enrollments</h1>
    <h2>{{ competition.judul }}</h2>

    {% for peserta in competition.peserta.all %}
    <div class="enrollment-card pt-4 pl-4 pr-4 pb-1">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>Nama</label>
                <input class="form-control" type="text" placeholder="{{ peserta.nama }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-4">
                <label>Fakultas</label>
                <input class="form-control" type="text" placeholder="{{ peserta.fakultas }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Jurusan</label>
                <input class="form-control" type="text" placeholder="{{ peserta.jurusan }}" readonly>
            </div>

            <div class="form-group col-md-4">
                <label>Angkatan</label>
                <input class="form-control" type="text" placeholder="{{ peserta.angkatan }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>No. HP</label>
                <input class="form-control" type="text" placeholder="{{ peserta.no_hp }}" readonly>
            </div>

            <div class="form-group col-md-6">
                <label>Line ID</label>
                <input class="form-control" type="text" placeholder="{{ peserta.line_id }}" readonly>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Foto KTM</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/ktm.svg' %}">
                    <a href="{{ peserta.foto_ktm.url }}" target="_blank">{{ peserta.foto_ktm }}</a>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label>Screenshot SIAK</label>
                <div class="enrollment-file">
                    <img src="{% static 'dashboard/svg/screenshot.svg' %}">
                    <a href="{{ peserta.screenshot_siak.url }}" target="_blank">{{ peserta.screenshot_siak }}</a>
                </div>
            </div>
        </div>

        {% if peserta.can_be_edited %}
        <div>
            <a class="enrollment-button" href="{% url 'dashboard:edit_peserta' id_peserta=peserta.id %}">Edit Enrollment</a>
        </div>
        {% endif %}
        
        {% if peserta.can_be_deleted %}
        <a class="enrollment-button" data-toggle="modal" data-target="#deletionConfirm-{{ peserta.id }}">Remove Participant</a>
        
        <div class="modal fade" id="deletionConfirm-{{ peserta.id }}" tabindex="-1" role="dialog" aria-labelledby="deletionConfirmLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletionConfirmLabel">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        You are about to remove <b>{{ peserta.nama }}</b> from this competition.
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="{% url 'dashboard:delete_peserta' id_peserta=peserta.id %}" method="POST"> {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Yes, Remove</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% if competition.can_enroll %}
    <div class="enrollment-card p-2">
        <div>
            <a class="add-enrollment" href="{% url 'dashboard:enroll' id_kompetisi=competition.id %}">Add Enrollment</a>
        </div>
    </div>
    {% endif %}
</div>

<script>
    $(document).ready( () => {
        $("enrollment-card").css("padding", ".5em");
        $("enrollment-card").css("padding-bottom", ".2em");
        $("enrollment-card").css("margin-bottom", "2em");
        $("enrollment-card").css("border-radius", ".5em");
        $("enrollment-card").css("box-shadow", "0 0 .5em .1em #ddd");
        $("enrollment-card").css("font-weight", "500");

        $("enrollment-button").css("font-weight", "700");
    });
</script>
{% endblock content %}
