{% extends 'base.html' %}
{% load static %}

{% block title %}
View - {{ competition.judul }}
{% endblock title %}

{% block content %}

    {{ enrollments.management_form }}

    {% for enrollment in enrollments %}
        <div class="link-formset">
            {{ enrollment.nama }} <br>
            {{ enrollment.fakultas }}
            {{ enrollment.jurusan }}
            {{ enrollment.angkatan }} <br>
            {{ enrollment.no_hp }}
            {{ enrollment.line_id }} <br>
            Ketua: {{ enrollment.is_ketua }}
        </div>
    {% endfor %}

{% endblock content %}
