@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

svg {
    flex-shrink: 0;
}

#li_nav_container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 5px 0px 5px;
}


.know_more {
    display: flex;
    justify-content: flex-end;
}

.know_more p {
    color: white;
    background-color: #3D54A6;
    text-align: center;
    width: 90px;
    margin-bottom: 0px;
}

.know_more a {
    align-self: flex-end;
    width: fit-content;
    text-decoration: none;
}

.know_more p:hover {
    background-color: #2b3c75;
}


.judul_seminar_cont {
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
}

.judul_seminar_cont p {
    font-size: 15px;
    font-weight: 600;
    word-break: break-word;
}

.info_container h2 {
    font-weight: 600;
}

.card_container {
    display: flex;
    flex-flow: row wrap;
}

.seminar_card {
    margin: 20px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.seminar_img_cont {
    width: 250px;
    height: 250px;
    background-color: #51B1F6;

}

.ff-section h3 {
    font-weight: 700;
}

#know_more_car {
    background-color: rgba(61, 84, 166, 0.2);
    background-blend-mode: multiply;
    backdrop-filter: blur(50px);
    color: white;
    border-style: none;
}

.carousel-indicators li {
    width: 0.75em;
    height: 0.75em;
    border-radius: 100%;
    background-color: transparent;
    border: 0.1em solid white;
}

.carousel-indicators li.active {
    background-color: white;
}

.list-group-item {
    border: 1px solid #3D54A6;
    padding-left: 0px;
    padding-right: 0px;
}

.list-group-item h4 {
    font-weight: 650;
}

li {
    list-style-type: disc;
}

li::marker {
  color: black;
}

.dot {
    height: 13px;
    width: 13.5px;
    background-color: #FF4F4F;
    border-radius: 100%;
    display: inline-block;
}

.dot2 {
    height: 13px;
    width: 13.5px;
    background-color: lightgray;
    border-radius: 100%;
    display: inline-block;
}

.upcoming_container {
    padding: 50px 10vw;
}

.past_seminar {
    padding: 50px 10vw;
    background-color: #e8f0ff;
}

.kenta-head-content h2 {
    word-break: break-word;
}

.speaker_container {
    max-width: 500px;
}

#img_go {
    object-fit: cover;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin:auto;
}

.bio {
    width: 80%;
}

.nama_speaker {
    text-align: center;
    margin-top: 10px;
    font-style: italic;
    font-weight: 600;
}

.gambar_judul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: max-content
}

.bio_container {
    margin-top: 7px;
}

#speaker2 {
    margin-left: 7vw;
}

.subjects {
    width: 1000px;
}
.subjects li {
    margin-top: 3px;
    margin-bottom: 3px;
}

@media screen and (max-width: 1024px) {

    .about {
        width: auto !important;
    }

    .info_container {
        padding: 20px !important;
    }

    .upcoming_container {
        padding: 20px;
    }

    .past_seminar {
        padding: 20px;
    }

    .card_container {
        justify-content: center;
        align-items: center;
    }

    #tema {
        font-size: 1rem;
    }

    .carousel-control-prev {
        display: none;
    }

    .carousel-control-next {
        display: none;
    }

    #speaker2{
        margin-left: 0;
    }

    .subjects {
        width: auto;
    }

}

@media screen and (max-width: 650px) {


    .all_speaker {
        flex-direction: column;
    }

    .gambar_judul {
        width: auto !important;
    }

    .speaker_container {
        max-width: none;
    }

    #speaker2 {
        margin-top: 30px;
    }

    .bio_container {
        padding-left: 50px;
    }

}

@media screen and (max-width: 500px) {

    .kenta-blurlable {
        width: auto;
    }

    .judul_seminar_cont {
        height: auto;
    }

    #tema {
        font-size: 15px;
    }

    .max_content_behavior {
        width: max-content;
    }

    .bio_container {
        padding-left: 5vw
    }

}

