{% extends 'base.html' %}
{% load static %}

{% block title %}
   Form Pendaftaran Acara
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static 'css/seminar.css' %}">
{% endblock %}

{% block content %}

    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                <span class="kenta-blurlable max_content_behavior">Pendaftaran Acara</span>
                <h2 style="font-weight: 700; font-size: 40px">CLOSING CEREMONY MTQ UI</h2>
                <h3 style="margin-bottom: 0px">Musabaqah Tilawatil Quran</h3> <h3 style="font-weight: bold; font-style: italic">Universitas Indonesia</h3>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/quran.svg' %}')">
        </div>
    </div>

    <div class="close-form-container" style="display: flex; justify-content: center; align-items: center; margin: 100px 0 100px 0">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScHmJOBlQ8Vsk8JLBWfvgSSorjORCgzIPtFvyKJ4WCGm-4iNg/viewform?embedded=true" width="640" height="700" frameborder="0" marginheight="" marginwidth="">Loading…</iframe>
    </div>

{% endblock %}
