{% extends 'base.html' %}
{% load static %}


{% block title %}
    Membangkitkan Gelora Jiwa Qurani
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static '/css/seminar.css' %}">
{% endblock %}


{% block content %}
    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                <span class="kenta-blurlable"><span class="dot mr-1"></span> AIRING IN: 25 September, 2021 08:00 - 10:35 WIB</span>
                <h2 style="font-weight: 700">Membangkitkan Gelora Jiwa Qurani</h2>
                <h4 style="margin-bottom: 0">Musabaqah Tilawatil Quran</h4> <h4 style="font-weight: bold; font-style: italic">Universitas Indonesia</h4>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/quran.svg' %}')">
        </div>
    </div>


    <div class="info_container" style="padding: 6.5em">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h4>About</h4>
        <p style="width: 60%" class="about">Merupakan pembukaan rangkaian acara MTQ UI 2021 dilengkapi dengan talkshow yang bertajuk "Membangkitkan Gelora Jiwa Qurani"</p>
    </li>
    <li class="list-group-item">
        <h4>Speakers</h4>
        <ul class="guest_stars">
            <li>MTQ UI</li>
        </ul>
    </li>

    <li class="list-group-item">
        <h4>We’ll be talking about...</h4>
        <ul class="subjects">
                <li>Kisah para ahlul Quran yang menginspirasi.</li>
                <li>Tantangan umat Islam untuk berinteraksi dengan Al-Qur’an di masa sekarang.</li>
                <li>Bagaimana kemudian peran para dai dalam mengajarkan Al-Qur’an.</li>
                <li>Bagaimana proses menjadi pribadi yang dekat dengan Al-Qur’an</li>
                <li>Tantangan berdakwah Al-Qur’an di era milenial.</li>
                <li>Cara menumbuhkan dan melestarikan cinta kepada Al-Qur’an.</li>
        </ul>
    </li>

    <li class="list-group-item" style="display:flex; justify-content: center;align-items: center; flex-direction: column">
        <p style="margin: 5px">Interested?</p>
        <button class="btn btn-primary" disabled>ENROLL NOW!</button>

    </li>

    </ul>

    </div>

{% endblock %}