{% extends 'base.html' %}
{% load static %}


{% block title %}
    Grand Opening
{% endblock %}

{% block head %}
     <!-- My CSS-->
    <link rel="stylesheet" href="{% static '/css/seminar.css' %}">
{% endblock %}


{% block content %}
    <div class="kenta-head">
        <div class="kenta-head-content">
            <div>
                <span class="kenta-blurlable"><span class="dot2 mr-1"></span> AIRED IN: 25 September, 2021 08:00 - 10:35 WIB</span>
                <h2 style="font-weight: 700">Membangkitkan Gelora Jiwa Qurani</h2>
                <h4 style="margin-bottom: 0">Musabaqah Tilawatil Quran</h4> <h4 style="font-weight: bold; font-style: italic">Universitas Indonesia</h4>
            </div>
        </div>
        <div class="kenta-head-img"
             style="background-image: url('{% static 'img/quran.svg' %}')">
        </div>
    </div>


    <div class="info_container" style="padding: 6.5em">
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <h4>About</h4>
        <p style="width: 60%" class="about">Merupakan pembukaan rangkaian acara MTQ UI 2021 dilengkapi dengan talkshow yang bertajuk "Membangkitkan Gelora Jiwa Qurani"</p>
    </li>
    <li class="list-group-item" style="display: flex; flex-direction: column">
         <h4>Speakers</h4>

        <div class="all_speaker" style="display: flex; margin-top: 15px; margin-bottom: 15px">
            <div class="speaker_container" >
                
                
                <div class="gambar_judul">
                <img src="{% static '/img/go/pembicara_go.jpg' %}" class="img-fluid" id="img_go" alt="">
                <h5 class="nama_speaker">Ustadz Amir Faishol Fath</h5>
                </div>


                <div class="bio_container">
                <h4>Achievement</h4>
                <ul class="bio">
                    <li>Da'i dan ahli tafsir di Indonesia</li>
                    <li>Juri Hafizh Indonesia</li>
                    <li>Pendiri Yayasan Fath Qur'ani Center dan Lembaga Darut Tafsir Fath Institute</li>
                    <li>Dosen tafsir di Sekolah Tinggi Ilmu Dakwah Dirosat Islamiyah Al-Hikmah Jakarta</li>
                </ul>
                </div>

            </div>

            <div class="speaker_container" id="speaker2">

                <div class="gambar_judul">
                <img src="{% static '/img/go/pembicara_go2.jpg' %}" class="img-fluid" id="img_go" alt="">

                <h5 class="nama_speaker">Bang Zahid Zidane G. S.</h5>
                 </div>

                <div class="bio_container">
                <h4>Achievement</h4>
                <ul class="bio">
                    <li>Mengajar webinar gratis di Halalbiz.id “Belajar Tahsin” Oktober 2020</li>
                    <li>Dakwah content creator on TikTok 2020 - sekarang</li>
                    <li>Creator serial PRM (Popular Reciting Mistakes) di IGTV 2020 - sekarang</li>
                    <li>Hafidz Quran 30 Juz memorization Ponpes Imam Bukhari (2019)</li>
                    <li>Imam Masjid Adz Dzikri 10 hari terakhir ramadhan 2018-2019</li>
                    <li>Mahasiswa program S1 Universitas Al Azhar Kairo</li>
                </ul>
                </div>
            </div>

        </div>
    </li>

    <li class="list-group-item">
        <h4>We’ll be talking about...</h4>
        <ul class="subjects">
                <li>Kisah para ahlul Quran yang menginspirasi.</li>
                <li>Tantangan umat Islam untuk berinteraksi dengan Al-Qur’an di masa sekarang.</li>
                <li>Bagaimana kemudian peran para dai dalam mengajarkan Al-Qur’an.</li>
                <li>Bagaimana proses menjadi pribadi yang dekat dengan Al-Qur’an</li>
                <li>Tantangan berdakwah Al-Qur’an di era milenial.</li>
                <li>Cara menumbuhkan dan melestarikan cinta kepada Al-Qur’an.</li>
        </ul>
    </li>

{#    <li class="list-group-item" style="display:flex; justify-content: center;align-items: center; flex-direction: column">#}
{#        <p style="margin: 5px">Interested?</p>#}
{#        <a href="{% url 'homepage:grandopeningform' %}"><button class="btn btn-primary">ENROLL NOW!</button></a>#}
{##}
{#    </li>#}

    </ul>

    </div>

{% endblock %}