.kenta-content > h1 {
    margin-bottom: 0em;
    padding-top: 1em;
}

.dashboard-container {
    padding: 0% !important;
    margin-bottom: 1em !important;
}

.user-details {
    display: flex;
    align-items: center;
}

.makara-image {
    width: 1.75em;
    vertical-align: center;
}

.username {
    text-transform: uppercase;
    font-size: 1.75em;
    margin-left: .5em;
    margin-bottom: 0%;
}

.competition-section {
    margin-left: 1.5em !important;
    margin-right: 1.5em !important;
}

.competition-section > h2 {
    font-weight: 700;
    padding-top: .5em;
    padding-bottom: .75em;
}

.competition-card {
    padding: 1.5em;
    padding-bottom: .75em;
    margin-bottom: 2em;
    border-radius: .5em;
    box-shadow: 0 0 .5em .1em #ddd;
    font-weight: 500;
}

.competition-title {
    margin-bottom: .5em;
    font-weight: 600;
}

.competition-detail {
    margin-bottom: .75em;
}

.detail-key {
    text-transform: uppercase; 
    padding-right: 2em;
}

.competition-deadline {
    display: flex;
    align-items: center;
    margin-bottom: 1.25em;
}

.competition-deadline > img {
    width: 1.25em;
}

.competition-deadline > p {
    margin-bottom: 0%;
    margin-left: .5em;
    text-transform: uppercase; 
}

.past-deadline {
    filter: invert(38%) sepia(87%) saturate(1762%) hue-rotate(332deg) brightness(106%) contrast(107%);
}

.competition-buttons {
    text-transform: uppercase;
    border-top: 1px solid blue !important;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    text-align: center;
}

.competition-buttons:hover {
    text-decoration: none;
    color: blue;
}

@media only screen and (max-width: 768px) {
    .kenta-content > h1 {
        font-size: 3em;
    }

    .username {
        font-size: 1.5em;
    }

    .makara-image {
        width: 1.5em;
    }

    .competition-section > h2 {
        font-size: 2em;
    }

    .competition-title {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 425px) {
    .kenta-content > h1 {
        font-size: 2.5em;
    }

    .username {
        font-size: 1.25em;
    }

    .makara-image {
        width: 1.25em;
    }

    .competition-section > h2 {
        font-size: 1.5em;
    }

    .competition-card {
        font-size: .8em;
        padding-bottom: 1.2em;
    }

    .competition-title {
        font-size: 1.5em;
    }
    
    .competition-buttons {
        border: none !important;
        background-color: blue;
        color: white;
        margin-bottom: 1em;
    }

    .competition-buttons:hover {
        border: none !important;
        background-color: white;
        color: blue;
        border: 1px solid blue !important;
    }
}
