.form-container {
    padding: 0% !important;
    margin-bottom: 1em !important;
}

.form-delete {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-add {
    margin-bottom: 1em;
}
